<div>
    <h3>Statistics</h3>
    <table>
    <thead>
      <tr>
        <th>Measurements</th>
        <th>Average BMI</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{measurements}}</td>
        <td>{{averageBmi}}</td>
      </tr>
    </tbody>
  </table>
</div>