body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 100px 0 0;
}

form {
  width: 500px;
  margin: 0 auto;
}

button {
  margin-top: 2rem;
}

h2 {
  font-size: 5rem;
  text-align: center;
}